<div class="container">
  <div class="wrap">
    <div class="profile-box">
      <div class="img">
        <%= image_tag "cat.jpg", width: "100%" %>
      </div>
      <div class="user-name pull-left"><a href="#"><b>Name</b>, 27</a></div>
      <div class="user-location text-right"><i class="fa fa-map-marker"></i> London</div>
      <div class="description">
        <h4 class="text-uppercase"><small>Description</small></h4>
        <p class="small">
          We are in the midst of an interstellar refining of science that will clear a path toward the quantum soup itself. Throughout history, humans have been interacting with the cosmos via supercharged waveforms. Humankind has nothing to lose.
        </p>
      </div>
    </div>
  </div>
</div>
